
<div class="container-fluid border shadow-sm p-3 mb-5  rounded " id="color1">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <button type="button" class="btn btn-secondary btn-sm h-75  " >
        <i class="pi pi-angle-down mt-1  "> </i>
        سنويا
      </button>

    <div class="">
      <div class="ms-5">
        إحصائيات إستخدام القسيمة
      </div>
      <div class="me-2" style="color: rgba(153, 161, 183, 1);">
        05 يوليو , 2023 - 05 أغسطس , 2023
      </div>
    </div>
    </div>

    <div class="col-12">
<div id="chart-container"></div>

    </div>

  </div>

</div>
