/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
  font-family: 'Neo Sans Arabic';
  src: url('../src/assets/fonts/alfont_com_NeoSansArabic.ttf') format('truetype');
  /* Add additional font weights and styles if needed */
}
body{
  font-family: 'Neo Sans Arabic';
  background-color: #F3F5F7;
}

